@model IList<ProductOverviewModel>

@using DIPSky.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        <div class="title">
            <span>@T("HomePage.Products")</span>
        </div>
        <div class="pro-list-wrapper">
            @foreach (var item in Model)
        {
                <div class="item-box">
                    @Html.Partial("_ProductBox", item)
                </div>
        }
        </div>
     </div>
}